div.docs-btn-group
  button.pn__conreq-btn-connect
  button.pn__conreq-btn-connected(
    data-toggle="popover",
    data-trigger="focus",
    data-placement="top",
    data-title="Remove Connection",
    data-html="true"
    data-content="<div class=\"pn__conreq-btn-group-popover\"><div class=\"pn__btn-danger btn\">Remove</div></div>")

  button.pn__conreq-btn-requested(
    data-toggle="popover",
    data-trigger="focus",
    data-placement="top",
    data-title="Cancel Request",
    data-html="true"
    data-content="<div class=\"pn__conreq-btn-group-popover\"><div class=\"pn__btn-danger btn\">Cancel</div></div>")

  button.pn__conreq-btn-respond(
    data-toggle="popover",
    data-trigger="focus",
    data-title="Respond to request",
    data-placement="top",
    data-html="true"
    data-content="<div class=\"pn__conreq-btn-group-popover\"><div class=\"pn__conreq-accept btn\"></div><div class=\"pn__conreq-decline btn\"></div></div>")
